#jspsych-survey-multi-choice-form { max-width: 40em; }
.jspsych-survey-multi-choice-question { margin-top: 2em; margin-bottom: 2em; text-align: left; }
.jspsych-survey-multi-choice-text { margin-bottom: 0.25em; }
.jspsych-survey-multi-choice-text span.required { color: darkred; }
.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-text { text-align: center; }
.jspsych-survey-multi-choice-option { line-height: 1.5; }
.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-option { display: inline-block; margin-left: 1em; margin-right: 1em; vertical-align: top; }
label.jspsych-survey-multi-choice-text input[type='radio'] { margin-right: 1em; }
