#jspsych-n-back-sequence {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
}

.jspsych-n-back-item {
    display: table-cell;
    visibility: hidden;
    width: 2em;
    height: 2em;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.jspsych-n-back-item-focused {
    display: table-cell;
    visibility: visible;
}

.jspsych-back-item-selected {
    display: table-cell;
    visibility: visible;
    border: 3px solid Blue;
}
