<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth Sample</title>
    <script src="http://heartbeamstudy.org.s3-website-us-west-2.amazonaws.com/amazon-cognito-auth.min.js"></script>
    
    <script src="auth.js"></script>
  </head>
  <body onload="onLoad()">
    <h1>Hi. This web page should ask you to authenticate. If it doesn't, something went wrong.</h1>
    <div id="message">
      
    </div>

    <script>
      function success(session) {
        var msgText = "You have logged in.";
        if (session) {
          var idToken = session.getIdToken().getJwtToken();
          if (idToken) {
            var payload = idToken.split('.')[1];
            var tokenobj = JSON.parse(atob(payload));
            var formatted = JSON.stringify(tokenobj, undefined, 2);
            msgText += "Your id token is " + formatted
          }
        }
        document.getElementById("message").innerHTML = msgText;;
      }

      function failure(error) {
        alert("Error! " + error);
      }

      function onLoad() {
        var cognitoAuth = auth.getAuth(success, failure);
        const session = cognitoAuth.getSession();
        var curUrl = window.location.href;
        cognitoAuth.parseCognitoWebResponse(curUrl);
      }
    </script>
  </body>
</html>
