#emotional-memory-textarea {
    display: inline-block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    color: MidnightBlue;
    border-color: LightSteelBlue;
    background-color: AliceBlue;
    outline-color: CornflowerBlue;
}

#jspsych-content:has(#jspsych-image-keyboard-response-stimulus) {
    max-width: none;
}
