.demo {
    text-align: left;
}

.demo-question {
    margin-top: 30px;
    border-bottom: 2px grey solid;
    padding-bottom: 30px;
}

.demo-question input:not([type="radio"]) {
    margin-left: 10px;
}

#diabetes-followup, #vax-followup, #psych-followup, #estrogen-followup {
    display: none;
    margin-left: 20px;
}

#diseases {
    display: flex;
}

.col {
    flex: 50%;
}

.required {
    display: none;
    color: red;
}
