<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <form>
        <label for="participant-name">Participant Name</label>
        <input type="text" id="participant-name">
        <br/>
        <label for="participant-email">Participant Email</label>
        <input type="text" id="participant-email">
        <input type="button" name="Submit" value="Submit" type="submit" id="submit-btn">
    </form>
</body>
</html>