<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <label for="experiment-select">Select an experiment:</label>
    <select id="experiment-select" disabled>
        <option value="" selected disabled>--experiment name--</option>
    </select>
    <button id="experiment-button" type="button" disabled>Query</button>
    <a id="experiment-download" href="" download="" aria-disabled="true">Download</a>
</body>
</html>
