{
    "ClientId" : "",
    "AppWebDomain" : "something.auth.us-west-2.amazoncognito.com",
    "TokenScopesArray" : ["openid"], 
    "RedirectUriSignIn" : "http://localhost:9000",
    "RedirectUriSignOut" : "http://localhost:9000", 
    "UserPoolId" : "", 
    "IdentityPoolId": "",
    "AdvancedSecurityDataCollectionFlag" : false,
    "AWSRegion": "us-west-2",
    "ExperimentTable": "",
    "LumosTable": "",
    "UserExperimentIndex": "",
    "UsersTable": "",
    "DailyRegimesTable": "",
    "DeploymentBucket": "",
    "UserApiUrl": "",
    "AdminApiUrl": "",
    "ConditionApiUrl": "",
    "CloudwatchWriter": "some_iam_id",
    "CloudwatchWriterKey": "some_iam_key",
    "CloudwatchLogGroup": "cloudwatch-log-group-name",
    "CloudFrontDistributionId": "",
    "DsId": "",
    "DsRedirectUri": "http://localhost:9000",
    "DsTokenUri": "",
    "DsOAuthUri": "",
    "DsTable": "",
    "SegmentsTable": "",
    "UserDataBucket": "",
    "AdminRole": ""
}
