{
    "ClientId" : "",
    "AppWebDomain" : "something.auth.us-west-2.amazoncognito.com",
    "TokenScopesArray" : ["openid"], 
    "RedirectUriSignIn" : "http://localhost:9000",
    "RedirectUriSignOut" : "http://localhost:9000", 
    "UserPoolId" : "", 
    "IdentityPoolId": "",
    "AdvancedSecurityDataCollectionFlag" : false,
    "AWSRegion": "us-west-2",
    "ExperimentTable": ""
}
