<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <table id="dashboard">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Daily Tasks T1</th>
                <th>EEG T1</th>
                <th>MRI T1</th>
                <th>Biofeedback Practice</th>
                <th>EEG T2</th>
                <th>MRI T2</th>
                <th>Daily Tasks T2</th>
            </tr>
        </thead>
        <tbody>
        </body>
    </table>
</body>
</html>
