body {
    display: flex;
    justify-content: center;
    background-color: #f6f6ee;
}

table {
    margin-top: 50px;
    font-size: 20px;
    color: #263a46;
    background-color: #f5f5dc;
}

thead {
    color: #ffffff;
    background-color: #648c96;
}

tr:nth-child(even) {
    background-color: #e8ecd4;
}

table, th, td {
    border: 2px solid;
    border-color: #4b6973;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

td span.small {
    font-size: 90%;
    display: block;
}

td label input {
    margin-right: 10px;
    vertical-align: bottom;
    position: relative;
    top: -2px;
}

progress {
    width: 80px;
    margin: 5px;
}

label {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    /*
    white-space: nowrap;
    text-overflow: ellipsis;
    */
}

#error {
    color: red;
    font-size: 125%;
    margin: auto;
    width: 30%;
}
