.flanker-arrows { white-space: nowrap }
.flanker-arrows img { display: inline-block }
.flanker-left { transform: rotate(-90deg) }
.flanker-right { transform: rotate(90deg) }
.flanker-circle-border { 
    border: 3px solid red;
    border-radius: 80%;
}
ul {
    text-align: left;
}
.flanker-miss {
    background-color: red;
}
